---
import Layout from '../../layouts/Layout.astro'
import LandingUnidad from '../../components/LandingUnidad.astro'
import LogoCarousel from '../../components/LogoCarousel.jsx'; // Asegúrate de importarlo
import GrowCircleIndustria from '../../components/movimiento/GrowCircleIndustria.jsx'
import MotionFadeIn from '../../components/movimiento/MotionFadeIn.jsx'


const columna1 = [
  "Horus",
  "CryptoFin",
  "HSMs, propósito general y financiero"
];

const columna2 = [
  "Plataforma Key Management",
  "Encriptor de Red (HSE)",
  "Token móvil",
  "IAM / CIAM"
];

const columna3 = [
  "WAF",
  "Advanced Bot Protection",
  "API Security",
  "DDoS Protection"
];
const logosempresas = [
"/Conecta/01_Banorte.png",
"/Conecta/02_Invex.png",
"/Conecta/03_Plata.png",
"/Conecta/04_Nissan.png",
"/Conecta/05_Covalto.png",
"/Conecta/06_Afirme.png",
"/Conecta/07_Prosa.png",
"/Conecta/08_Bankaool.png",
];
const carouselTitle = "Empresas que confían en nosotros";

// casillas.astro
const casillas = [
  { texto: "Assessment de criptografía aplicada a protección de datos." },
  { texto: "Consultoría HSM para compliance local e internacional (CNVB, Visa, MC, FIPS, PCI-DSS)." },
  { texto: "Capacitación en administración de HSMs y mejores prácticas." },
  { texto: "Implementación de HSMs on-Premise y Cloud y plataforma de Key Management." },
  { texto: "Upgrade de plataformas HSM." },
  { texto: "Migración entre tecnologías de HSM." },
  { texto: "Soporte TIER-1 para fabricante." },
  { texto: "Servicios de mantenimiento HSM." },
  { texto: "CryptoCloud Sec: Migración de on-Premise a Cloud (GCP)." },
];

---


<Layout formColor="#800080">
  
<LandingUnidad
  imagenHero="/Conecta/Header-Conecta-Criptografia.png"
  colorFrase="#800080"
   tipoAnimacion="cripto" 
  textoBoton="Conectemos"
  colorBoton="white"
  tituloTarjetas="Nuestras soluciones te ayudan a"
  fraseSecundaria="14 años en la implementación, gestión, soporte y auditoría de infraestructura criptográfica del sector financiero."
    fraseHero={[
    { text: "Simplificamos la ", bold: false },
    { text: "protección de datos", animate: true },
    { text: "con la tecnología más robusta: HSMs", bold: false }
  ]}
  tarjetas={[
    {
      imagen: "/Conecta/protege.png",
      frase: [
        { text: "Proteger los datos, porque \nsabemos que " },
        { text: "son tu activo \nmás importante." , bold: true}
      ]
    },
    {
      imagen: "/Conecta/asegura.png",
      frase: [
        { text: "Asegurar el "},
        { text: "\ncumplimiento normativo.", bold: true  }
      ]
    },
    {
      imagen: "/Conecta/mitiga.png",
      frase: [
        { text: "Mitigar el daño  ", bold: true },
        { text: "por el \nrobo de información." }
      ]
    },{
      imagen: "/Conecta/reputacion.png",
      frase: [
        { text: "Proteger tu " },
        { text: "reputación.", bold: true }
      ]
    },{
      imagen: "/Conecta/evita.png",
      frase: [
        { text: "Evitar posibles " },
        { text: "\nmultas millonarias." , bold: true}
      ]
    }
  ]}
>
 
  <div slot="carrusel" class="mt-12">
      <div class="max-w-6xl mx-auto">
        <LogoCarousel logos={logosempresas} title={carouselTitle} client:only="react" />
      </div>
  </div>
</LandingUnidad>


<section id="alianzas" class="max-w-6xl mx-auto px-6 py-8 sm:py-8 md:py-8 lg:py-8">
<h2 class="text-2xl sm:text-2x md:text-3xl lg:text-4xl font-medium text-black text-center mb-16">
  Alianzas estratégicas
</h2>


  <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 items-center justify-center">
    <img src="/alianzas/02_Thales.png" alt="Thales" class="w-full h-auto object-contain" />
    <img src="/alianzas/01_GoogleCloud.png" alt="Google Cloud" class="w-full h-auto object-contain" />
    <img src="/alianzas/04_Entrust.png" alt="Entrust" class="w-full h-auto object-contain" />
    <img src="/alianzas/03_Utimaco.png" alt="Utimaco" class="w-full h-auto object-contain" />
  </div>
</section>



<section class="max-w-4xl mx-auto px-6 py-8 sm:py-12 md:py-16 lg:py-20">
 <h2 class="text-2xl sm:text-2x md:text-3xl lg:text-4xl font-medium text-black text-center mb-16">
   Servicios profesionales
  </h2>

 <div class="grid grid-cols-3 relative overflow-visible bg-white">
  {
    casillas.map((casilla, i) => (
      <div class="relative p-6 text-sm leading-relaxed text-gray-800 font-light bg-white flex justify-center items-center text-center min-h-[130px]">

        {/* Líneas horizontales */}
        {(i === 3 || i === 6) && (
          <div class="absolute top-0 left-0 w-full h-[2px] z-10 bg-gradient-to-l from-[#800080] to-white" />
        )}
        {(i === 5 || i === 8) && (
          <div class="absolute top-0 left-0 w-full h-[2px] z-10 bg-gradient-to-l from-white to-[#800080]" />
        )}
        {(i === 4 || i === 7) && (
          <div class="absolute top-0 left-0 w-full h-[2px] z-10 bg-[#800080]" />
        )}

        {/* Líneas verticales */}
        {(i === 4 || i === 5) && (
          <div class="absolute top-0 left-0 h-full w-[2px] z-10 bg-[#800080]" />
        )}
        {(i === 1 || i === 2) && (
          <div class="absolute top-0 left-0 h-full w-[2px] z-10 bg-gradient-to-t from-[#800080] to-white" />
        )}
        {(i === 7 || i === 8) && (
          <div class="absolute top-0 left-0 h-full w-[2px] z-10 bg-gradient-to-t from-white to-[#800080]" />
        )}

        <span class="font-medium text-sm sm:text-base break-words whitespace-normal z-10">{casilla.texto}</span>
      </div>
    ))
  }
</div>
</section>
<!-- Capacidades de HSM -->
<section class="bg-white px-6 md:px-12 py-8 sm:py-12 md:py-16 lg:py-20">
  <!-- Título -->
  <div class="max-w-6xl mx-auto text-center mb-16">
   <h2 class="text-2xl sm:text-2x md:text-3xl lg:text-4xl font-medium text-black text-center mb-16">
     Nuestros HSMs te ayudan en:
    </h2>
  </div>

  <!-- Círculo central -->
<div class="w-full flex flex-col items-center justify-center">
  <div class="relative w-[280px] h-[280px] sm:w-[380px] sm:h-[380px] md:w-[500px] md:h-[500px] flex items-center justify-center">
   
      <!-- Círculo girando con borde degradado -->
      <div class="absolute w-full h-full z-10 rounded-full flex items-center justify-center animate-spin-slow">
        <div class="w-full h-full rounded-full" style="background: conic-gradient(#000, #800080);"></div>
        <div class="absolute w-[calc(100%-12px)] h-[calc(100%-12px)] rounded-full bg-white"></div>
      </div>

      <!-- Imagen central -->
      <img src="/hm.png" alt="HSM Icon" class="z-24 w-24 sm:w-28 h-24 sm:h-28 object-contain" />

      <!-- Etiquetas flotantes (solo en pantallas grandes) -->
      <div class="absolute inset-0 pointer-events-none hidden sm:flex justify-center items-center">
        <div class="relative w-full h-full text-[24px] leading-tight">

          <div class="absolute top-0 left-1/2 -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Cifrado de archivos</div>
          </div>
          <div class="absolute top-[15%] left-[85%] -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Cifrado de redes</div>
          </div>
          <div class="absolute top-1/2 left-full -translate-x-1/2 -translate-y-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Autenticación</div>
          </div>
          <div class="absolute bottom-[15%] left-[85%] -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Gestión de certificados</div>
          </div>
          <div class="absolute bottom-0 left-1/2 -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Cifrado de SPEI</div>
          </div>
          <div class="absolute bottom-[15%] left-[15%] -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Cifrado de contraseñas</div>
          </div>
          <div class="absolute top-1/2 left-0 -translate-x-1/2 -translate-y-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Firma electrónica</div>
          </div>
          <div class="absolute top-[15%] left-[15%] -translate-x-1/2 pointer-events-auto z-30">
            <div class="etiqueta-sm">Tokens Físicos</div>
          </div>

        </div>
      </div>
    </div>

    <!-- Lista vertical en mobile -->
    <div class="block sm:hidden mt-6 text-xs text-center space-y-2 px-4">
      <div class="etiqueta">Cifrado de archivos</div>
      <div class="etiqueta">Cifrado de redes</div>
      <div class="etiqueta">Autenticación</div>
      <div class="etiqueta">Gestión de certificados</div>
      <div class="etiqueta">Cifrado de SPEI</div>
      <div class="etiqueta">Cifrado de contraseñas</div>
      <div class="etiqueta">Firma electrónica</div>
      <div class="etiqueta">Tokens Físicos</div>
    </div>
  </div>
</section>
<section class="max-w-5xl mx-auto px-4 sm:px-6 py-8 sm:py-12 md:py-16 lg:py-20 flex flex-col lg:flex-row gap-12">
  <!-- Título a la izquierda (en desktop) -->
  <div class="lg:w-1/3 w-full flex items-center justify-center mb-8 lg:mb-0">
 <h2 class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-medium text-black text-center mb-16">
  <span class="font-semibold">Fortalece tu seguridad digital</span>  con nuestras soluciones avanzadas
</h2>

  </div>

  <!-- Columnas a la derecha (en desktop) -->
  <div class="lg:w-2/3 w-full flex flex-col sm:flex-row gap-6">
    <!-- Columna 1 -->
    <div class="flex flex-col gap-6 flex-1">
      {columna1.map((item, i) => (
        <MotionFadeIn client:visible direction="up" delay={0.1}>
          <div class="min-h-[120px] rounded-xl p-6 sm:p-8 text-center text-base sm:text-lg font-normal text-black shadow-md border-2 border-[#800080] flex items-center justify-center">
            {item}
          </div>
        </MotionFadeIn>
      ))}
    </div>

    <!-- Columna 2 -->
    <div class="flex flex-col gap-6 flex-1">
      {columna2.map((item, i) => (
        <MotionFadeIn client:visible direction="down" delay={0.1}>
          <div class="min-h-[120px] rounded-xl p-6 sm:p-8 text-center text-base sm:text-lg font-normal text-black shadow-md border-2 border-[#800080] flex items-center justify-center">
            {item}
          </div>
        </MotionFadeIn>
      ))}
    </div>

    <!-- Columna 3 -->
    <div class="flex flex-col gap-6 flex-1">
      {columna3.map((item, i) => (
        <MotionFadeIn client:visible direction="up" delay={0.1}>
          <div class="min-h-[120px] rounded-xl p-6 sm:p-8 text-center text-base sm:text-lg font-normal text-black shadow-md border-2 border-[#800080] flex items-center justify-center">
            {item}
          </div>
        </MotionFadeIn>
      ))}
    </div>
  </div>
</section>

<section class="bg-white px-6 md:px-12 pt-8 sm:pt-12 md:pt-16 lg:pt-20 pb-8 sm:pb-12 md:pb-16 lg:pb-12">
  <div class="max-w-5xl mx-auto text-center mb-8">
   <h2 class="text-2xl sm:text-2x md:text-3xl lg:text-4xl font-medium text-black text-center mb-16">
    Industrias a las que aplicamos
    </h2>
  </div>

  <div class="bg-[#f5f5f5] rounded-2xl p-8 max-w-5xl mx-auto">
    <div class="flex flex-col items-center gap-6">
      <!-- Fila 1 -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-6">
        <GrowCircleIndustria client:visible imagen="/Conecta/Financiera-purple.png" titulo="Financiera" />
        <GrowCircleIndustria client:visible imagen="/Conecta/Industria_salud-purple.png" titulo="Salud" />
        <GrowCircleIndustria client:visible imagen="/Conecta/Aseguradoras-purple.png" titulo="Aseguradoras" />
      </div>

      <!-- Fila 2 -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-6">
        <GrowCircleIndustria client:visible imagen="/Conecta/ecommerce-purple.png" titulo="E-commerce" />
        <GrowCircleIndustria client:visible imagen="/Conecta/automovilistica-purple.png" titulo="Automotriz" />
        <GrowCircleIndustria client:visible imagen="/Conecta/gobierno-purple.png" titulo="Gobierno" />
      </div>

      <!-- Fila 3 -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-6">
        <GrowCircleIndustria client:visible imagen="/Conecta/Tecnologica-purple.png" titulo="Tecnológica" />
        <GrowCircleIndustria client:visible imagen="/Conecta/Telecomunicaciones-purple.png" titulo="Telecomunicaciones" />
        <GrowCircleIndustria client:visible imagen="/Conecta/retail-purple.png" titulo="Retail" />
      </div>
    </div>
  </div>
</section>

  

</Layout>
